.profilecardcontainer {
  height: calc(100vh - 110px);
}
.service-input {
  height: 7rem !important;
  background-color: #f5f5f5 !important;
}
.service-input:hover {
  background-color: #e7e7e7 !important;
}
.service-input .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-input .card-img {
  padding: 15px;
  border: 1px solid #c1c1c1 !important;
}
.card.selected {
  border-color: #535353 !important ;
}
